/* public/content.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
  }
  
  .highlight-column {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px; /* Adjust the column width as needed */
    background-color: rgba(154, 0, 0, 0.5);
    pointer-events: none;
    transition: left 0.1s;
  }
  